
<div class="dashboard-container">

  <main class="main-content"> 

    <header class="content-header">
      <a href="#"><img class="img-logo" src="/assets/images/logo.png"></a>
      <h1 class="app-title">Encuestas Dinamicas</h1>
      <div class="header-actions">
      </div>
    

  <div class="d-flex justify-content-between align-items-center">
    <h3>Hola, <b>Usuario</b>.</h3>
  </div>
  </header>


  <div class="mb-3">

    <nav class="nav-menu">
        
        <a class="btn btn-light" 
          [class.disabled]="!selectedSurveyId" 
          [routerLink]="['/encuesta/resultados', selectedSurveyId]">Ver Resultados</a>

        <a class="btn btn-light" 
          [class.disabled]="!selectedSurveyId">Compartir Encuesta</a>

        <a class="btn btn-light" 
          [class.disabled]="!selectedSurveyId" 
          [routerLink]="['/encuesta/editar', selectedSurveyId]">Editar Encuesta</a>

    </nav>

  


      <div class="search-actions">
        
        <input type="text" 
              class="survey-title-input" 
              placeholder="Buscar encuesta..." 
              [(ngModel)]="searchTerm"
              (input)="filterSurveys()"> <div class="actions">
          <button class="btn btn-info me-2" (click)="toggleView()">
            {{ viewMode === 'user' ? 'Ver Todas las Encuestas' : 'Ver Mis Encuestas' }}
          </button>

          <a class="btn btn-secondary me-2" 
            [class.disabled]="!selectedSurveyId" 
            (click)="deleteSelectedSurvey()">Eliminar</a>

          <a class="btn btn-secondary" 
            [routerLink]="['/encuesta/agregar']">Crear</a>
        </div>
      </div>


<div class="card-body"> 
  <table class="table table-hover">
    <thead>
      <tr>
        <th></th> <!-- Para el radio button -->
        <th>Título</th>
        <th>Descripción</th>
        <th>Usuario</th>
        <th>Fecha</th>
        <th>Estado</th> <!-- Columna de estado -->
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let survey of filteredSurveys">
        <td>
          <input type="radio" name="seleccionEncuesta" [value]="survey.idencuesta" (click)="selectSurvey(survey.idencuesta)">
        </td>
        <td>{{ survey.nombre }}</td>
        <td>{{ survey.descripcion }}</td>
        <td>{{ survey.nombreU }}</td>
        <td>{{ survey.fecha | date: 'dd/MM/yyyy' }}</td>
        <td>
          <!-- ESTE ES EL NUEVO BOTÓN DE ESTADO -->
          <button class="btn btn-sm" 
                  [ngClass]="survey.activo === 'S' ? 'btn-success' : 'btn-danger'"
                  (click)="changeStatus(survey)">
            {{ survey.activo === 'S' ? 'Activo' : 'Inactivo' }}
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>

  </div>
  </main>
</div>