/* src/app/landing/landing.component.scss */

:host {
  display: block;
  width: 100%;
}

.landing-container {
  display: flex;
  flex-direction: column;
  min-height:fit-content;
  padding: 0 5%;
  box-sizing: border-box; 
}

/* --- Cabecera y Navegación --- */
.main-header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
  border-bottom: 1px solid var(--border-color);
  
  .logo {
    font-weight: bold;
    font-size: 1.5rem;
  }
  
  .main-nav a {
    color: var(--text-color);
    text-decoration: none;
    margin-left: 20px;
    transition: color 0.3s ease;
    
    &:hover {
      color: var(--highlight-color);
    }
  }
}

/* --- Sección Hero --- */
.hero-section {
  text-align: center;
  padding: 80px 0;
  flex-grow: 1; 
  display: flex;
  flex-direction: column;
  justify-content: center;
  
  h1 {
    font-size: 3.5rem;
    margin-bottom: 1rem;
    .highlight-blue {
      
      border-bottom: 3px solid var(--highlight-color);
      padding-bottom: 4px;
    }
  }
  
  .subtitle {
    font-size: 1.2rem;
    color: #8b949e;
    max-width: 600px;
    margin: 0 auto 30px auto;
  }
  
  .cta-buttons {
    margin-bottom: 50px;
    a {
      margin: 0 10px;
    }
  }
  

}


/* --- Seccion Formulario --- */

.center-section{
  display: flex;
  padding: 20px 50px 20px 50px;
  justify-content:space-between;
}

.formulario {
  text-align: start;
  padding: 10px;
  display: flex;
  flex-direction: column;
}

img {
    width: 700px;
    border-radius: 10px;
    border: 4px solid var(--border-color);
}


form {
  padding: 20px;
}

label {display: block;}

input{
  background-color: transparent;
  
  color: white;
  width: 100%;
  padding: 10px 10px 10px 35px;
  margin: 10px 0px 15px 0px;
  display: inline-block;
  border: solid #ffffff;
  border-width: 0px 0px 2px 0px;
  box-sizing: border-box;

  background-repeat: no-repeat;
  background-size: 5% 50%;
  background-position: 2px;

}

#name{
  background-image: url('/assets/images/search.png');
}

#email{
  background-image: url('/assets/images/mensaje.png');
}

#password{
  background-image: url('/assets/images/contraseña.png');
}


input:focus {
  outline: none;
}

/* From Uiverse.io by cssbuttons-io */ 
button {
  align-items: center;
  background-image: linear-gradient(144deg, #C10C99, #5b42f3 50%, #5b42f3);
  border: 0;
  border-radius: 8px;
  box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
  box-sizing: border-box;
  color: #ffffff;
  display: flex;
  font-size: 20px;
  justify-content: center;
  line-height: 1.5em;
  max-width: 100%;
  min-width: 140px;
  padding: 3px;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  cursor: pointer;
  transition: all 0.3s;
}

button:active,
button:hover {
  outline: 0;
}

button span {
  background-color: rgb(5, 6, 45);
  padding: 16px 24px;
  border-radius: 6px;
  width: 100%;
  height: 100%;
  transition: 300ms;
}

button:hover span {
  background: none;
}

button:active {
  transform: scale(0.9);
}


/* --- Pie de Página --- */
.main-footer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
  border-top: 1px solid var(--border-color);
  
  .copyright {
    font-size: 0.9rem;
    color: #8b949e;
  }
  
  .social-media a {
    color: #8b949e; 
    margin-left: 15px;
    font-size: 1.2rem;
    transition: color 0.3s ease;

    &:hover {
      color: var(--text-color); 
    }
  }
}



