<div class="landing-container">
  <header class="main-header">
    <div class="logo">
      Encuestas Dinamicas
    </div>
  </header>
  
  <!--
  <main class="hero-section">
    <h1>Crea más <span class="highlight-blue">rápido</span> y <span class="highlight-blue">mejor</span></h1>
    <p class="subtitle">Tus preguntas, tus reglas. Crear encuestas nunca fue tan fácil y dinámico.</p>
    <div class="cta-buttons">
      <a href="/registro" class="btn btn-primary">Únete</a>
      <a href="#" class="btn btn-secondary">Demo</a>
    </div>
    <div class="hero-image-container">
      <img src="/assets/images/computer.jpg" alt="Análisis de encuestas">
    </div>
  </main>
    -->

    <div class="center-section">
        <form class="formulario">
        
        <h1>Registro</h1>
        <h3>Por favor, ingresa tus datos</h3>


        <label for="nombre">Nombre</label>
        <input type="text" id="name" name="name" class="name" placeholder="Ingresa tu nombre" required minlength="4" maxlength="8" size="55" />
        
        <label for="email">Correo electronico</label>
        <input type="email" id="email" name="email" placeholder="Ingresa tu correo electronico" required/>

        <label for="password">Contraseña</label>
        <input type="password" id="password" name="email" placeholder="Ingresa tu contraseña" required/>

        <button>Registro</button>

        </form>

        <img src="/assets/images/computer2.jpg">
    </div>

</div>

