.first-section {
    display: flex;
    align-items: center;
    justify-content:space-around;
}

.parrafo {
    height: 400px;
    width: 600px;
    font-size: 30px;
    text-align: start;
}

.imagen-aboutus {
    width: 650px;
    border-radius: 10px;
    border: 4px solid var(--border-color);
}

.second-section {
    display: flex;
    align-items: center;
    justify-content:space-around;
    padding: 50px 0px 50px 0px;
}

.cuadro {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.info {
    text-align: center;
    width: 400px;
    font-size: 20px;
}