.first-section {
    display: flex;
    align-items: center;
    justify-content:space-around;
}


.main-header {
  width: 90%;
  display: flex;
  padding: 0px 20px 0px 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  position: sticky;
  top: 0;
  z-index: 1000;
}

.main-nav {
  display: flex;
  align-items: center;
  gap: 0px;
  margin-left: auto;
  
  a {
    text-decoration: none;
    color: var(--text-color);
    font-weight: 500;
    transition: color 0.3s ease;

    &:hover {
      color: var(--highlight-color);
    }
  }
}

.parrafo {
    height: 400px;
    width: 600px;
    font-size: 30px;
    text-align: start;
}

.imagen-aboutus {
    width: 650px;
    border-radius: 10px;
    border: 4px solid var(--border-color);
}

.second-section {
    display: flex;
    align-items: center;
    justify-content:space-around;
    padding: 50px 0px 50px 0px;
}

.cuadro {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.info {
    text-align: center;
    width: 400px;
    font-size: 20px;
}