.first-section {
    display: flex;
    align-items: center;
    justify-content:space-around;
}




.parrafo {
    height: 300px;
    width: 600px;
    font-size: 28px;
    text-align: start;
    line-height: 1.5;
}

.imagen-aboutus {
    width: 500px;
    border-radius: 10px;
    border: 4px solid var(--border-color);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.second-section {
    display: flex;
    align-items: center;
    justify-content:space-around;
    padding: 50px 0px 50px 0px;
}

.cuadro {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.info {
    text-align: center;
    width: 400px;
    font-size: 20px;
}