<header class="main-header">
    <a href="#"><img class="img-logo" src="/assets/images/logo.png"></a>
    <div class="logo">
        Encuestas Dinamicas
    </div>
    <nav class="main-nav">
        <a href="/encuesta/agregar">Encuestas C</a>
        <a href="/aboutus">Nosotros</a>
        <a href="/como">Cómo Funciona</a>
        <a href="/login">Iniciar sesión</a>
        <a href="/registro" class="btn btn-primary">Regístrate</a>
    </nav>
</header>


<section class="first-section">
    <p class="parrafo">Somos un equipo de profesionales <span></span>
        apasionados por la tecnología, el diseño 
        y el análisis de datos. Combinamos 
        experiencia en desarrollo web con una visión 
        centrada en el usuario, para ofrecer una 
        solución intuitiva que se adapta a distintos 
        sectores: desde investigadores y docentes, 
        hasta emprendedores y grandes compañías.</p>
    <img class="imagen-aboutus" src="/assets/images/graficas.jpg">
</section>

<section class="second-section">
    <div class="cuadro">
        <img src="/assets/images/timer.png">
        <h1>Crear en minutos</h1>
        <p class="info">Diseña encuestas personalizadas de forma rápida y sin complicaciones, sin necesidad de conocimientos técnicos.</p>
    </div>
    <div class="cuadro">
        <img src="/assets/images/signo.png">
        <h1>Preguntas flexibles</h1>
        <p class="info">Incluye preguntas de texto abierto, opción única o múltiple para obtener exactamente los datos que buscas.</p>
    </div>
    <div class="cuadro">
        <img src="/assets/images/quiz.png">
        <h1>Edición sencilla</h1>
        <p class="info">Modifica títulos, preguntas o descripciones en cualquier momento, incluso después de haber publicado la encuesta.</p>
    </div>
</section>