.main-footer {   

     width: 100%;
     display: flex;
     justify-content: space-between;
     align-items: center;
     padding: 20px 0;
     border-top: 1px solid var(--border-color);
     margin-top: 10;

 .copyright {
     font-size: 0.9rem;
     color: #8b949e;
 }

 .social-media a {
     color: var(--text-color);
     margin-left: 20px;
     font-size: 1.2rem;
     padding: 5px;
 }

}