.section {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 30px 100px 30px 100px;
}


.main-header {
  width: 90%;
  display: flex;
  padding: 0px 20px 0px 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  position: sticky;
  top: 0;
  z-index: 1000;
}

.main-nav {
  display: flex;
  align-items: center;
  gap: 0px;
  margin-left: auto;
  
  a {
    text-decoration: none;
    color: var(--text-color);
    font-weight: 500;
    transition: color 0.3s ease;

    &:hover {
      color: var(--highlight-color);
    }
  }
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 3px solid #ccc;
    width: 80%;
}

.texto {
    width: 600px;
    font-size: 40px;
    text-align: start;
}

.image-como {
    width: 650px;
    border-radius: 10px;
    border: 4px solid var(--border-color);
}

