.section {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 30px 100px 30px 100px;
}



hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 3px solid #ccc;
    width: 80%;
}

.texto {
    width: 600px;
    font-size: 30px;
    text-align: start;
}

.image-como {
    width: 500px;
    border-radius: 10px;
    border: 4px solid var(--border-color);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 10px;
}

