<header class="main-header">
    <a href="#"><img class="img-logo" src="/assets/images/logo.png"></a>
    <div class="logo">
        Encuestas Dinamicas
    </div>
    <nav class="main-nav">
        
        <a href="/aboutus">Nosotros</a>
        <a href="/como">Cómo Funciona</a>
        <a href="/login">Iniciar sesión</a>
        <a href="/registro" class="btn btn-primary">Regístrate</a>
    </nav>
</header>

<section class="section">
    <p class="texto">Agrega preguntas personalizadas de varios tipos
    a cada encuesta. Ve toda la informacion de tu 
    encuesta en un diseño practico y simple. 
    Configura varios ajustes y temas de tu encuesta</p>
    <img class="image-como" src="/assets/images/questions.jpg">
</section>

<hr/>

<section class="section">
    <img class="image-como" src="/assets/images/data.jpg">
    <p class="texto">Panel de informacion simple y fácil de usar. 
    Puedes ver todas las encuestas creadas y 
    tambien las puedes organizar dependiendo 
    de su actividad o antiguedad.</p>
</section>