<section class="section">
    <p class="texto">Agrega preguntas personalizadas de varios tipos
    a cada encuesta. Ve toda la informacion de tu 
    encuesta en un diseño practico y simple. 
    Configura varios ajustes y temas de tu encuesta</p>
    <img class="image-como" src="/assets/images/questions.jpg">
</section>

<hr/>

<section class="section">
    <img class="image-como" src="/assets/images/data.jpg">
    <p class="texto">Panel de informacion simple y fácil de usar. 
    Puedes ver todas las encuestas creadas y 
    tambien las puedes organizar dependiendo 
    de su actividad o antiguedad.</p>
</section>