<div class="survey-container"> 
    <div class="survey-header">
      <h1>{{ survey.nombre }}</h1>
      <p>{{ survey.descripcion }}</p>
      <p>Fecha: {{ fecha_formato }}</p>
    </div>
</div>

<div class="results-container">
  @for (opcion of resultados; track $index) {
    <div>
      <h2>{{opcion[0][0]}}</h2>
      <hr>
    </div>
    @if (opcion[0][1] === 1 || opcion[0][1] === 2) {
      @for (respuesta of opcion[1]; track $index) {
        <p class="response-text">{{respuesta}}</p>
      }
    } @else if (opcion[0][1] === 3 || opcion[0][1] === 4) {
      {{createBarChart(opcion[1], opcion[2])}}
      <div class="chart-container">
        <canvas
                baseChart
                [data]="chartData"
                [options]="chartOptions"
                [type]="chartType">
        </canvas>
      </div>
    } @else {
      {{createHBarChart(opcion[1], opcion[2])}}
      <div class="chart-container">
        <canvas
            baseChart
            [data]="chartData"
            [options]="chartOptions"
            [type]="chartType">
        </canvas>
      </div>
    }
  }






