<div class="landing-container">
  <header class="main-header">
    <div class="logo">
      Encuestas Dinamicas
    </div>
    <nav class="main-nav">
      <a href="/encuesta/agregar">Encuestas C</a>
      <a href="/dashboard">Nosotros</a>
      <a href="#">Cómo Funciona</a>
      <a href="/login">Iniciar sesión</a>
      <a href="/registro" class="btn btn-primary">Regístrate</a>
    </nav>
  </header>

  <main class="hero-section">
    <h1>Crea más <span class="highlight-blue">rápido</span> y <span class="highlight-blue">mejor</span></h1>
    <p class="subtitle">Tus preguntas, tus reglas. Crear encuestas nunca fue tan fácil y dinámico.</p>
    <div class="cta-buttons">
      <a href="/registro" class="btn btn-primary">Únete</a>
      <a href="#" class="btn btn-secondary">Demo</a>
    </div>
    <div class="hero-image-container">
      <img src="/assets/images/encuesta.jpg" alt="Análisis de encuestas">
    </div>
  </main>

  <section class="features-section">
    <h2>Diseña, distribuye y analiza</h2>
  </section>

  
</div>