<div class="responder-container">
  <div *ngIf="isLoading" class="loading">Cargando encuesta...</div>

  <div *ngIf="!isLoading && survey" class="survey-form">
    <header class="survey-header">
      <h1>{{ survey.nombre }}</h1>
      <p>{{ survey.descripcion }}</p>
    </header>

    <form [formGroup]="responseForm" (ngSubmit)="onSubmit()">
      <div formGroupName="respuestas">
        <div *ngFor="let pregunta of survey.preguntas; let i = index" class="question-block">
          <label class="question-label">
            {{ i + 1 }}. {{ pregunta.textopregunta }}
            <span *ngIf="pregunta.requerida === 'S'" class="required-asterisk">*</span>
          </label>
          
          <div [ngSwitch]="pregunta.idtipopregunta">
            
            <ng-container *ngSwitchCase="1">
              <input type="text" [formControlName]="pregunta.idpregunta" class="form-input">
            </ng-container>
            <ng-container *ngSwitchCase="2">
              <textarea [formControlName]="pregunta.idpregunta" class="form-textarea"></textarea>
            </ng-container>

            <ng-container *ngSwitchCase="3">
              <div class="options-group">
                <div *ngFor="let opcion of pregunta.opciones" class="option-item">
                  <input type="radio" [name]="pregunta.idpregunta" [value]="opcion.idopciones" [formControlName]="pregunta.idpregunta">
                  <label>{{ opcion.opcion }}</label>
                </div>
              </div>
            </ng-container>

            <ng-container *ngSwitchCase="4">
              <div class="options-group">
                <div *ngFor="let opcion of pregunta.opciones" class="option-item">
                  <input type="checkbox" [value]="opcion.idopciones" (change)="onCheckboxChange($event, pregunta.idpregunta.toString())">
                  <label>{{ opcion.opcion }}</label>
                </div>
              </div>
            </ng-container>

          </div>
        </div>
      </div>

      <button type="submit" class="submit-btn">Enviar Respuestas</button>
    </form>
  </div>
</div>
